<%= form_for(longboard) do |f| %>
  <% if longboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(longboard.errors.count, "error") %> prohibited this longboard from being saved:</h2>

      <ul>
      <% longboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :length %>
    <%= f.text_field :length %>
  </div>

  <div class="field">
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>

  <div class="field">
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= f.label :purpose %>
    <%= f.radio_button(:purpose, 'Downhill') %>Downhill<br />
    <%= f.radio_button(:purpose, 'Cruising') %>Cruising<br />
    <%= f.radio_button(:purpose, 'Sliding') %>Sliding<br />
  </div>

  <div class="field">
    <%= f.label :is_available %>
    <%= f.check_box :is_available %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
